.header__logo-turbina {
  max-width: 720px;
}

@media screen and (max-width: 1024px) {
  .header__logo-turbina {
    max-width: 600px;
  }
}

@media screen and (max-width: 768px) {
  .header__logo-turbina {
    max-width: 90%;
  }
}
