.player__playlist-title {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #FFFFFF;
  margin: 0;
  padding: 30px 0 8px 0;
}
