.form__fieldset {
  width: 600px;
  padding: 0;
  margin: 0;
  border: none;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .form__fieldset {
    width: 648px;
  }
}


@media screen and (max-width: 320px) {
  .form__fieldset {
    width: 270px;
  }
}
