.root {
  font-family: 'Inter', Arial, sans-serif;
  width: 100%;
  min-width: 300px;
  margin: 0 auto;
  position: relative;
  background: linear-gradient(to bottom, rgba(233, 187, 193, 1) 0%, 3.9341915398836136%, rgba(155, 132, 144, 1) 7.868383079767227%, 12.33905591070652%, rgba(110, 93, 123, 1) 16.809728741645813%, 20.743919909000397%, rgba(45, 48, 112, 1) 24.67811107635498%, 29.184548556804657%, rgba(29, 44, 86, 1) 33.69098603725433%, 38.805435597896576%, rgba(45, 80, 98, 1) 43.91988515853882%, 50.4291832447052%, rgba(176, 168, 150, 1) 56.93848133087158%, 66.27324521541595%, rgba(237, 189, 202, 1) 75.60800909996033%, 82.51072764396667%, rgba(193, 160, 174, 1) 89.41344618797302%, 94.70672309398651%, rgba(175, 140, 143, 1) 100%);
  background-position: center;
  background-repeat: no-repeat;
}
