.player__song-cover {
  width: 176px;
  height: 176px;
  object-fit: cover;
}

@media screen and (max-width: 1280px) {
  .player__song-cover {
    width: 164px;
    height: 164px;
  }
}

@media screen and (max-width: 1024px) {
  .player__song-cover {
    width: 112px;
    height: 112px;
  }
}

@media screen and (max-width: 768px) {
  .player__song-cover {
    width: 240px;
    height: 240px;
  }
}
