.paragraph {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.37;
}

@media screen and (max-width: 1280px) {
  .paragraph {
    font-size: 15px;
    line-height: 1.46;
  }
}

@media screen and (max-width: 768px) {
  .paragraph {
    font-size: 12px;
    line-height: 1.33;
  }
}
