.title {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 46px;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 42px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 32px;
  }
}
