.main__about-container {
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
  margin: 0 auto;
  padding: 60px 20px 20px 50px;
  max-width: 1260px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .main__about-container {
    padding-left: 20px;
  }
}
