.footer {
  margin: 0 auto;
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.37;
}

@media screen and (max-width: 1280px) {
  .footer {
    font-size: 15px;
    line-height: 1.46;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    font-size: 12px;
    line-height: 1.83;
    flex-direction: column;
    align-items: center;
  }
}
