.form__submit-button {
  width: 100%;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 30px;
  color: black;
  padding: 20px 25px;
  margin-top: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: unset;
}

.form__submit-button:hover {
  font-style: italic;
}

.form__submit-button:focus {
  font-style: italic;
}

.form__submit-button:disabled {
  background-color: unset;
}

@media screen and (max-width: 1280) {
  .form__submit-button {
    font-size: 15px;
    line-height: 1.33;
  }
}

@media screen and (max-width: 768px) {
  .form__submit-button {
    font-size: 12px;
    line-height: 1.66;
    padding: 11px 20px;
  }
}
