.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  max-width: 1280px;
}

.song {
  user-select: none;
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.song__title {
  margin-right: 10px;
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.song__artist {
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.controls {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player__button {
  border: none;
  background: transparent;
}

.player__button:focus {
  outline: none;
}

.player__button:hover {
  cursor: pointer;
}

.player__button_play {
  color: #FFFFFF;
  width: 18px;
  height: 22px;
  cursor: pointer;
}

.player__button_pause {
  color: #FFFFFF;
  width: 18px;
  height: 22px;
  cursor: pointer;
}

.bar {

  display: flex;
  user-select: none;
  color:#FFFFFF;
}

.bar__progress {
  width: 1146px;
  margin-top: 35px;
  flex: 1;
  cursor: pointer;
  height: 2px;
}

.bar__time {
  margin-bottom: 25px;
  font-size: 25px;
}
