.player__song-text {
  margin: 0;
  padding: 6px 0 17px 60px;
  white-space: pre-line;
  overflow-y: scroll;
  height: 81px;
}

@media screen and (max-width: 768px) {
  .player__song-text {
    padding-left: 40px;
  }
}
