.header__menu-item {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .header__menu-item {
    font-size: 12px;
    line-height: 1.2;
    padding-bottom: 22px;
  }
}

.header__menu-item:last-child {
  padding-bottom: 0;
}

