.header__menu-button-active {
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .header__menu-button-active {
    visibility: visible;
    width: 28px;
    height: 28px;
    background-image: url(../../../../images/menu/close-button-image.png);
    background-position: center;
    background-size: 11px;
    background-repeat: no-repeat;
    align-self: flex-end;
    margin-bottom: 15px;
    color: rgba(255,255,255,1);
    background-color: unset;
    text-decoration: none;
    border: 2px solid rgba(255,255,255,1);
    border-radius: 30px;
    padding: 5px 10px;
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s ease;
  }
  .header__menu-button-active {
    opacity: .8;
  }
  .header__menu-button-active:focus {
    opacity: .8;
  }
}
