@import url(./vendor/normalize.css);

@import url(./vendor/fonts/inter.css);

@import url(./blocks/root/root.css);

@import url(./blocks/header/header.css);

@import url(./blocks/header/__menu-container/header__menu-container.css);

@import url(./blocks/header/__logo-container/header__logo-container.css);
@import url(./blocks/header/__nav-container/header__nav-container.css);

@import url(./blocks/header/__logo-marshak/header__logo-marshak.css);

@import url(./blocks/header/__menu-container/header__menu-container.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__menu-button/header__menu-button.css);
@import url(./blocks/header/__menu-button/_active/header__menu-button_active.css);
@import url(./blocks/header/__menu-list/header__menu-list.css);
@import url(./blocks/header/__menu-list/_opened/header__menu-list_opened.css);

@import url(./blocks/header/__menu-item/header__menu-item.css);

@import url(./blocks/header/__menu-link/header__menu-link.css);

@import url(./blocks/header/__title/header__title.css);
@import url(./blocks/header/__logo-turbina/header__logo-turbina.css);

@import url(./blocks/main/main.css);
@import url(./blocks/main/__about-container/main__about-container.css);
@import url(./blocks/title/title.css);
@import url(./blocks/main/__section/main__section.css);
@import url(./blocks/article/__title/article__title.css);
@import url(./blocks/article/__text/article__text.css);
@import url(./blocks/article/__list/article__list.css);
@import url(./blocks/article/__list-item/article__list-item.css);
@import url(./blocks/paragraph/paragraph.css);
@import url(./blocks/main/__form-container/main__form-container.css);


@import url(./blocks/form/form.css);
@import url(./blocks/form/__fieldset/form__fieldset.css);
@import url(./blocks/form/__input/form__input.css);
/* @import url(./blocks/form/__input/form__input-error.css); */
@import url(./blocks/form/__checkbox-label/form__checkbox-label.css);
@import url(./blocks/form/__submit-button.css/form__submit-button.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__paragraph/footer__paragraph.css);
@import url(./blocks/footer/__praktikum/footer__praktikum.css);
