@import url(./vendor/normalize.css);

@import url(./vendor/fonts/inter.css);

@import url(./blocks/root/root.css);

@import url(./blocks/header/header.css);

@import url(./blocks/main/main.css);

@import url(./blocks/main/__about-container/main__about-container.css);

@import url(./blocks/main/__form-container/main__form-container.css);

@import url(./blocks/main/__player-container/main__player-container.css);
