@import url(./vendor/normalize.css);

@import url(./vendor/fonts/inter.css);

@import url(./blocks/root/root.css);

@import url(./blocks/header/header.css);

@import url(./blocks/main/main.css);

@import url(./blocks/articles/articles.css);

@import url(./blocks/article/article.css);

@import url(./blocks/main/__about-container/main__about-container.css);

@import url(./blocks/main/__form-container/main__form-container.css);

@import url(./blocks/form/__input/_state/_error/form__input_state_error.css);
