@import url(../title/title.css);
@import url(../../form/form.css);
@import url(../../form/__fieldset/form__fieldset.css);


.main__form-container {
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  margin: 0 10px;
  width: 1260px;
}


@media screen and (max-width: 768px) {
  .main__form-container {
    max-width: 748px;
  }
}
