.main__form-container {
  background-color: #FFF;
  border-radius: 0 0 10px 10px;
  margin: 0 auto;
  padding: 40px 20px 100px 50px;
  max-width: 1260px;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .main__form-container {
    padding-top: 30px;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 768px) {
  .main__form-container {
    padding-top: 10px;
    padding-bottom: 70px;
    padding-left: 20px;
  }
}
