
.form__input{
  margin: 10px 0 0;
  padding: 20px 5px;
  width: 600px;
  height: 20px;
  border: none;
  border-bottom: 2px solid black;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  display: inline-block;
  color: rgba(0,0,0,0.4);
}


@media screen and (max-width: 320px) {
  .form__input {
    width: 270px;
  }
}
